@page "/auth/login"

@layout AuthLayout

@attribute [AllowAnonymous]

<MudPaper Elevation="10" Class="px-4 px-sm-8 py-8">
    <EditForm Model="@Model" OnValidSubmit="SubmitAsync">
        <FluentValidationValidator @ref="_fluentValidationValidator" />
        <DataAnnotationsValidator />

        <MudGrid Spacing="2">
            <MudItem xs="12">
                <div class="d-flex flex-column align-center justify-center">
                    <MudText Typo="Typo.h2" Color="Color.Primary" Align="Align.Center" Class="text-lobster">Terner</MudText>
                    <MudText Typo="Typo.body1" Align="Align.Center" Class="mt-2 shades-text text-white">Online Learning Platform</MudText>
                    <MudText Typo="Typo.body2" Align="Align.Center" Class="mt-1 shades-text text-white">Powered by <b class="cursor-pointer">Theta Network</b></MudText>
                </div>
            </MudItem>
            <MudItem xs="12">
                <div>
                    <MudText Typo="Typo.h6" Align="Align.Center" Color="Color.Primary">INSTRUCTOR PORTAL</MudText>
                    <MudText Typo="Typo.body1" Align="Align.Center" Class="mt-1 shades-text text-white">LOGIN</MudText>
                </div>
            </MudItem>

            <MudItem xs="12">
                <MudTextField T="string" Label="Email" Variant="Variant.Filled" Disabled="IsProcessing"
                              @bind-Value="Model.Email" For="@(() => Model.Email)" />
            </MudItem>

            <MudItem xs="12">
                <MudTextField Label="Password" Variant="Variant.Filled" Disabled="IsProcessing"
                              @bind-Value="Model.Password" For="@(() => Model.Password)"
                              InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
            </MudItem>

            <MudItem xs="12" Class="d-flex justify-space-between align-center">
                <MudLink Href="/auth/register" Disabled="IsProcessing">Create an Account</MudLink>
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-center">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Disabled="@IsProcessing" Color="Color.Secondary" Size="Size.Large" Style="width: 100%;">
                    @if (IsProcessing)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    }
                    else
                    {
                        <MudText>Sign In</MudText>
                    }
                </MudButton>
            </MudItem>
        </MudGrid>
    </EditForm>
</MudPaper>
