<EditForm Model="@Model" OnValidSubmit="UpdateAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudDialog DisableSidePadding="true" ClassActions="px-2 py-4">
        <DialogContent>
            <MudContainer MaxWidth="MaxWidth.False">
                <MudGrid Class="pt-0 pb-4 px-2">
                    <MudItem xs="12">
                        <MudTextField Label="Current Password" Variant="Variant.Filled" Disabled="IsProcessing"
                                      @bind-Value="Model.CurrentPassword" For="@(() => Model.CurrentPassword)"
                                      InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
                    </MudItem>

                    <MudItem xs="12">
                        <MudTextField Label="New Password" Variant="Variant.Filled" Disabled="IsProcessing"
                                      @bind-Value="Model.NewPassword" For="@(() => Model.NewPassword)"
                                      InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
                    </MudItem>

                    <MudItem xs="12">
                        <MudTextField Label="Confirm New Password" Variant="Variant.Filled" Disabled="IsProcessing"
                                      @bind-Value="Model.NewConfirmPassword" For="@(() => Model.NewConfirmPassword)"
                                      InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
                    </MudItem>

                    <MudItem xs="12">
                        <MudText Color="Color.Info" Typo="Typo.caption">Warning: You will be logged out after succcessful password change. </MudText>
                    </MudItem>
                </MudGrid>
            </MudContainer>
        </DialogContent>
        <DialogActions>
            <MudButton DisableElevation Variant="Variant.Text" Disabled="IsProcessing" OnClick="Cancel">CANCEL</MudButton>
            <MudButton DisableElevation Variant="Variant.Filled" Disabled="IsProcessing" ButtonType="ButtonType.Submit" Color="Color.Secondary">
                @if (IsProcessing)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                }
                else
                {
                    <span>UPDATE</span>
                }
            </MudButton>

        </DialogActions>
    </MudDialog>
</EditForm>
