<MudContainer Class="pa-0 ma-0" MaxWidth="MaxWidth.False" style="max-height: 80vh; overflow-y: scroll">
    <EditForm Model="@Model" OnValidSubmit="CreateAsync">
        <FluentValidationValidator @ref="_fluentValidationValidator" />
        <MudDialog DisableSidePadding="true" ClassActions="px-2 py-4">
            <DialogContent>
                <MudContainer MaxWidth="MaxWidth.False">
                    <MudGrid Class="pt-0 pb-4 px-2">
                        <MudItem xs="12">
                            <MudSelect T="string" Disabled="IsProcessing" Label="Platform" Variant="Variant.Outlined" MultiSelection="false" @bind-Value="Model.Platform">
                                @foreach (var level in @Application.Common.Constants.AppConstants.CommunityPlatforms)
                                {
                                    <MudSelectItem Value="@level">@level</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>

                        <MudItem xs="12">
                            <MudTextField T="string" Variant="Variant.Outlined" For="@(() => Model.HandleName)" Disabled="IsProcessing" @bind-Value="Model.HandleName" Placeholder="itsmejohndoe" Label="Handle Name" />
                        </MudItem>
                    </MudGrid>
                </MudContainer>
            </DialogContent>
            <DialogActions>
                <MudButton DisableElevation Variant="Variant.Text" Disabled="IsProcessing" OnClick="Cancel">CANCEL</MudButton>
                <MudButton DisableElevation Variant="Variant.Filled" Disabled="IsProcessing" ButtonType="ButtonType.Submit" Color="Color.Secondary">
                    @if (IsProcessing)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    }
                    else
                    {
                        <span>ADD</span>
                    }
                </MudButton>

            </DialogActions>
        </MudDialog>
    </EditForm>

</MudContainer>
